
<html>
<head>
  <title> TinyApp Header </title>
</head>
<body>
  <header>This will be a header</header>
<% if(username){ %>
   <p>username: <%= username %></p>
   <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
 <% } else{ %>
  <form method="POST" action="/login">
    <input type="text" name="username" placeholder="username">
    <input type="submit" value="Submit">
  </form>
  <% } %>

</body>
</html>



