
<html>
<head>
  <title> TinyApp Header </title>
</head>
<body>
  <header>TinyApp Project </header>
<% if(user){ %>
   <p>user: <%= user.email %></p>
   <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
 <% } else{ %>
<a href="/urls/login">Login Now</a>
<a href="/urls/register">Register Now</a>
  <% } %>

</body>
</html>



