<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<header>
  <% include partials/_header.ejs %>
</header>

  <form method="POST" action="/register">
  <input type="email" name="email" placeholder="john@doe.com">
  <input type="password" name="password" placeholder="password">
  <button>REGISTER</button></form>

</body>
</html>




